spring:
  application:
    name: mq-ai-agent
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mq_ai_agent
    username: root
    password: 123456
  # 文件上传
  servlet:
    multipart:
      # 大小限制
      max-file-size: 10MB
  session:
    # 开启分布式 session
    store-type: redis
    # 30 天过期
    timeout: 2592000
#  # Redis 配置
#  data:
#    redis:
#      host: localhost
#      port: 6379
#      password: # 如果Redis设置了密码，请在此配置
#      database: 2
#      timeout: 5000ms
#      lettuce:
#        pool:
#          max-active: 8
#          max-idle: 8
#          min-idle: 0
#          max-wait: -1ms
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.mq.mqaiagent.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）
# searchApi
search-api:
  api-key: 你的 API Key
# 对象存储
# todo 需替换配置
cos:
  client:
    accessKey: xxxxxx
    secretKey: xxxxxx
    region: xxxxxx
    bucket: xxxxxx
    bucket-url: xxxxxx
