<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.mqaiagent.mapper.ExerciseLogMapper">

    <resultMap id="BaseResultMap" type="com.mq.mqaiagent.model.entity.ExerciseLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="exerciseType" column="exerciseType" jdbcType="VARCHAR"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="caloriesBurned" column="caloriesBurned" jdbcType="FLOAT"/>
            <result property="dateRecorded" column="dateRecorded" jdbcType="TIMESTAMP"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,exerciseType,
        duration,caloriesBurned,dateRecorded,
        notes,createTime,updateTime,
        isDelete
    </sql>
</mapper>
